---
import Layout from "../layouts/Layout.astro";
import CoinButton from "../components/CoinButton.jsx";
import { turso } from "../../turso.js";

const user_cookie_uuid = Astro.cookies.get("caz_user_uuid")?.value;
const { rows } = await turso.execute(
  `SELECT
      c.*,
      (uc.user_id IS NOT NULL) AS exists_in_user_coins
  FROM coins c
  LEFT JOIN user_coins uc
      ON c.id = uc.coin_id AND uc.user_id = ?;
`,
  [user_cookie_uuid],
);
---

<Layout title="Cazamonedas">
  <main class="h-full w-full md:max-w-screen-xl">
    <h1 class="text-center text-4xl md:text-7xl font-extrabold mb-14 md:mb-24">
      Cazamonedas
    </h1>
    <section class="grid gap-6 md:grid-cols-2">
      {
        rows.map((coin) => {
          const { id, country, imageSrc, reason, year, exists_in_user_coins } =
            coin;

          return (
            <article class="coin my-4 md:flex md:flex-row">
              <img
                alt={`${reason}`}
                class="object-contain rounded w-9/12 mx-auto md:mx-2 md:mb-4 md:w-48 md:mr-7 md:transition md:hover:scale-125"
                src={`${imageSrc}`}
              />

              <header class="md:flex md:flex-col">
                <h2 class="text-xl md:text-2xl my-2 font-bold leading-tight">
                  {year} - {country}
                </h2>
                <p class="my-4">{reason}</p>
                <CoinButton
                  coinId={id}
                  existsInUserCoins={exists_in_user_coins}
                  userCookieId={user_cookie_uuid}
                  client:load
                />
              </header>
            </article>
          );
        })
      }
    </section>
  </main>
</Layout>
